#page-wrapper {
  overflow: none;
}

h1 {
  color: lightgray;
  padding-top: 100px;
}
h2 {
  color: lightgray;
  margin: 0px;
}

button {
  color: dimgray;
  border-radius: 5px;
  padding: 10px;
  background-color:lightgray;
  margin: 10px;
}
.gm-svpc {
  display: none;
}

.gm-control-active.gm-fullscreen-control {
  display: none;
}

.dark-theme {
  background-color: rgba(50, 50, 50, 0.9);
}
.gmnoprint {
  display: none;
}

.gm-style-mtc {
  display: none;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgb(1, 1, 1, 0.9);
  height: 100%;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.choose-another-location button {
  border: 3px solid lightgray;
}

.overlay .icon {
  color: lightgray;
  padding-bottom: 20px;
}

.overlay .controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-api-error p {
  margin:5px;
}
.overlay input {
  padding: 10px;
  border-radius: 5px;
  background: lightgray;
}

.location-error {
  color: lightgray;
}

.map {
  height: 100%;
  width: 100%;
}

.result-row span {
  padding: 5px;
}

.result-row p {
  border-right: 1px solid gray;
  padding-right: 10px;
}

.result-row span svg {
  color: gray;
  border-right: 1px solid gray;
  padding-right: 10px;
}

.results {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgb(255, 255, 255, 0.9);
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: dimgray;
  border-radius: 5px;
}

.loading svg {
  color: lightgray;
  animation-duration: 1s;
  margin-top: 50px;
}

.toggle-hide {
  display: none;
}

.space-api-error {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 55%;
  background: rgb(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  width: 98.5%;
  left: 0%;
  justify-content: center;
  color: red;
}

@media only screen and (max-width: 700px) {
  .results {
    left: 0px;
    width: 94%;
    text-align: center;
    font-size: 0.8em;
  }

  .gm-svpc {
    display: none;
  }

  .gmnoprint {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.7em;
  }
}
