.gm-svpc {
  display: none;
}

.gm-control-active.gm-fullscreen-control {
  display: none;
}

.gmnoprint {
  display: none;
}

.gm-style-mtc {
  display: none;
}

.map {
  height: 100%;
  width: 100%;
}